 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 html{scroll-behavior: smooth;}
 body{overflow-x: hidden;}

 .container {
     width: 100%;
     padding: 0 10px;
     margin: auto;
     
 }

 @media (min-width: 600px) {
     .container {
         max-width: 720px;
         padding: 0 20px;
     }
 }


 @media (min-width: 1024px) {
     .container {
         max-width: 960px;
         padding: 0 30px;
     }
 }

 @media (min-width: 1200px) {
     .container {
         max-width: 1140px;
         padding: 0 40px;
     }
 }

 .se {
     justify-content: space-evenly;
 }

 .sb {
     justify-content: space-between;
 }

 header {
     height: 100px;
     justify-content: center;
     align-items: center;
     background-color: white;
 }

 nav ul {
     list-style: none;
     font-size: 1rem;
     font-weight: 500;
     padding: 10px;
 }

 nav ul a {
     color: #000000;
     text-decoration: none;
     padding: 15px 0;
 }

 .logo img {
     width: 8rem;
     justify-content: center;
     align-items: center;
     padding: 0 5px;
 }

 .flex {
     display: flex;
 }

 .nav-left {
     width: 40%;
     justify-content: center;
     text-align: center;
 }

 .nav-right {
     width: 40%;
     justify-content: center;
     text-align: center;
 }

 .togglemenu {
     font-size: 2rem;
 }

 /* .mobile-header {
     margin-bottom: 20px;
     display: flex;
     justify-content: space-between;      
 } */
 .desktop-nav {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     width: 100%;
 }

 .mobile-nav {
     display: none;
     flex-direction: column;
     background-color: white;
     width: 100%;
     position: absolute;
     top: 100px;
     left: 0;
     z-index: 999;
 }

 .mobile-nav.active {
     display: flex;
 }

 .mobile-nav ul {
     list-style: none;
     margin: 0;
     padding: 0;
 }

 .mobile-nav ul li {
     padding: 15px 20px;
     border-bottom: 1px solid #ddd;
     text-align: center;
 }

 .mobile-nav ul li a {
     text-decoration: none;
     color: #000;
     font-weight: bold;
 }

 .title {
     font-size: 2rem;
 }

 .mobile-header,
 .hamburger {
     display: none;
     justify-content: space-between;
 }

 @media(max-width:768px) {
     .hide-mobile {
         display: none;
     }

     .mobile-header {
         display: flex;
         align-items: center;
         justify-content: space-between;
         width: 90%;
     }

     .mobile-header .logo {
         width: 25%;
     }

     .mobile-header .hamburger {
         display: flex;
         width: 75%;
         justify-content: right;
     }

     .togglemenu {
         align-items: flex-end;
     }

     .hero,
     .our-mission,
     .contact {
         background-attachment: scroll;
         z-index: 2;
     }
 }

 .nav-left ul,
 .nav-right ul {
     display: flex;
     gap: 20px;
 }

 .navigation {
     width: 100%;
     position: sticky;
     top: 0;
     background-color: rgba(0, 0, 0, 0);
     background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0)), linear-gradient(to bottom, white, rgba(255, 255, 255, 0)), linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
     z-index: 3;
 }

 .hero {
     position: relative;
     background-image: url(img/homebg.webp);
     background-position: center center;
     background-attachment: fixed;
     background-size: cover;
     height: 100vh;
     width: 100%;
     display: flex;
     justify-content: center;
    align-items: center;
    text-align: center;
 }

 .hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
 }

 .hero img {
     width: 50%;    
     min-width: 200px;
     max-width: 400px;
     height: auto;
 }

 @media (max-width:768px) {
    .hero img{width: 80%;}  
 }

 .contact-grid {
     display: grid;
     grid-template-columns: repeat(auto-fit,minmax(140px, 1fr));
     gap: 1rem;
     justify-content: center;
     width: 100%;
     max-width: 400px;     
 }

 .grid-layout {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-auto-columns: 1fr;
 }

 .hero a {
     text-decoration: none;
     color: #000000;
 }

 .cnct-btn {
     padding: 10px 30px;
     border-radius: 5px;
     background: white;
     opacity: 0.7;
     cursor: pointer;
     text-align: center;
     transition: all 0.5s ease-in-out;
 }

 .cnct-btn:hover {
     transform: translateY(5px);
     background: #000000;
     border: #FFFFFF solid 1px;
     color: #FFFFFF;
 }

 .welcome {
    display: flex;
     justify-content: center;
     text-align: center;
     flex-direction: column;
     align-items: center;
     padding: 2rem 0;
 }

 .welcome h1 {
     font-size: clamp(2rem, 5vw, 3rem);
     font-weight: 500;
     margin-top: 3rem;
 }

 .welcome p {
     font-size: clamp(1rem, 2vw, 1.25rem);
     margin: 1.5rem 0;
     color: #222222;
 }

 .services-grid {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     gap: 2rem;
     justify-content: center;
     align-items: center;
     text-align: center;

 }

 .services-grid img {
     width: 100%;
     max-width: 400px;
     height: auto;
     margin: 0 auto;
 }

 .service-item {
     justify-content: center;
     align-items: center;
     text-align: center;
     padding: 0 20px;
     margin: 1rem;
 }

 .services-grid-right {
     justify-content: center;
     align-items: center;
     text-align: center;
     padding: 0 20px;
     margin: 1rem;
 }

 .service-item h3 {
     font-size: clamp(1.5rem, 2vw, 2rem);
     letter-spacing: 2px;
 }

 .services-grid p {
     font-size: clamp(1rem, 1.5vw, 1.2rem);
     line-height: 1.5;
 }

 .services-grid .details {
     width: 90%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 1rem;
 }

 .our-mission {
     background-image: url(img/missionbg.webp);
     background-position: center center;
     background-attachment: fixed;
     background-size: cover;
     min-height: 80vh;
     display: flex;
     text-align: center;
     align-items: center;
     justify-content: center;
     margin-top: 40px;
 }

 .mission-details {
     max-width: 600px;
     margin: auto;
     color: #000000;
    padding: 0 20px;
 }

 .mission-details h4 {
     font-size: clamp(1.5rem, 2vw, 2rem);
    margin-bottom: 10px
 }

 .mission-details h2 {
     font-size: clamp(2rem, 4vw, 3rem);
    margin-bottom: 10px;
 }

 .mission-details p{
    font-size: clamp(1rem, 1.5vw, 1.2rem);
     line-height: 1.5;  
 }

 .our-promise {
     display: flex;
     flex-direction: column;
     text-align: center;   
     margin-top: 40px;
     margin-bottom: 60px;
 }

 .promise-text{
    padding: 1rem;
    max-width: 800px;
    margin: auto;
 }

 .our-promise h2 {
     font-size: clamp(2rem, 4vw, 3rem);
     margin-bottom: 20px;
 }

 .our-promise p {
     font-size: 1.25rem;
 }

 .caranimation {
     display: flex;
     position: relative;
     overflow: hidden;
     margin-top: 30px;
     padding-bottom: 30px;
 }


 @keyframes carmove {
     0% {
         left: -25%
     }

     100% {
         left: 100%
     }
 }


 .our-promise .bg {
     width: 100%;
    height: auto;
    display: block;
 }

 .our-promise .car {
     max-width: 200px;
     max-width: 20vw;
     position: absolute;
     top: 85%;
     transform: translateY(-50%);
     animation: carmove 8s linear infinite;
 }

 @media (max-width:768px) {
    .our-promise .car{
        width: 120px;
    }    
 }

 .contact {
     background-image: url(img/contact.webp);
     background-position: center center;
     background-attachment: fixed;
     background-size: cover;
     position: relative;
     padding: 60px 0;
     color: #222222;
 }

 .contact .container{
    position: relative;
    z-index: 1;
 }

 .contact-section {
     max-width: 800px;
     margin: 0 auto;
     padding: 30px;
     text-align: left;
 }

 .contact-info h2 {
     font-size: clamp(1.5rem, 4vw, 2rem);
     color: #222222;
     margin-bottom: 20px;

 }

 .contact-info p {
     font-size: 1.1rem;
     color: #222222;
     line-height: 1.6;
 }

 .contact-details p {
     margin-bottom: 10px;
 }

 .contact-details a{
    color: #222222;
    text-decoration: underline;
 }

 @media (max-width:768px) {
    .contact-section{
        padding: 20px;
        text-align: center;
    }
    .contact-details p, .contact-info p, .contact-details a{
        font-size: 1rem;
        line-height: 1.5;
    }
    .contact-info h2{
        font-size: 1.5rem;
        margin-bottom: 15px;
    }
 }