 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .container {
     max-width: 1200px;
     margin: auto;
 }
 @media (min-width: 576px) {
    .container{
        max-width: 540px;
    }
 }


@media (min-width: 768px) {
    .container{
        max-width: 720px;
    }
}


@media (min-width: 992px) {.container{
        max-width: 960px;
    }}


@media (min-width: 1200px) {.container{
        max-width: 1140px;
    }}

 .se {
     justify-content: space-evenly;
 }
  .sb {
     justify-content: space-between;
 }

 header {
     height: 100px;
     justify-content: center;
     align-items: center;
     background-color: white;
 }

 nav ul {
     list-style: none;
     font-size: 1rem;
     font-weight: 500;
     padding: 10px;
 }

 nav ul a {
     color: #000000;
     text-decoration: none;
     padding: 15px 0;
 }

 .logo img {
     width: 8rem;
     justify-content: center;
     align-items: center;
     padding: 0 5px;
 }

 .flex {
     display: flex;
 }

 .nav-left {
    width: 40%;
     justify-content: center;
     text-align: center;
 }

 .nav-right {
    width: 40%;
     justify-content: center;
     text-align: center;
 }
 .togglemenu{
    font-size: 2rem;
 }
 .mobile-header{
    margin-bottom: 20px;
    min-width: 540px;
 }
.title{
    font-size: 2rem;
}
 .mobile-header,.hamburger,.mobile-nav{display: none; justify-content: space-between;}
@media(max-width:752px){
    .mobile-off{display: none;}
    .mobile-header,.hamburger{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .togglemenu{align-items: right;}
}

 .nav-left ul,
 .nav-right ul {
     display: flex;
     gap: 20px;
 }

 .navigation {
     width: 100%;
     position: sticky;
     top: 0;
     background-color: rgba(0, 0, 0, 0);
     background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0)), linear-gradient(to bottom, white, rgba(255, 255, 255, 0)), linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
 }

 .hero {
     background-image: url(img/homebg.webp);
     background-position: center center;
     background-attachment: fixed;
     background-size: cover;
     height: 90vh;
     width: 100%;
     display: flex;
     justify-content: center;

 }

 .hero img {
     width: 100%;
     height: 100%;
     overflow: hidden;
 }

 .contact-grid {
     display: grid;
     width: 100%;
     max-width: 400px;
     grid-column-gap: 1rem;
     grid-row-gap: 1rem;
     grid-template-rows: auto;
     margin: auto;
     padding-bottom: 30px;
     justify-items: center;

 }

 .grid-layout {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-auto-columns: 1fr;
 }

 .hero a {
     text-decoration: none;
     color: #000000;
 }

 .cnct-btn {
     padding: 10px 30px;
     border-radius: 5px;
     background: white;
     opacity: 0.7;
     cursor: pointer;
     text-align: center;
     transition: all 0.5s ease-in-out;
 }

 .cnct-btn:hover {
     transform: translateY(5px);
     background: #000000;
     border: #FFFFFF solid 1px;
 }

 .cnct-btn:hover a {
     color: #FFFFFF;

 }

 .wrapper {
     justify-content: center;
     text-align: center;
 }

 .wrapper h1 {
     font-size: 3rem;
     font-weight: 500;
     margin-top: 3rem;
 }

 .wrapper p {
     font-size: 1.25rem;
     margin: 1.5rem 0;
     color: #222222;
 }

 .services-grid {
     display: grid;
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
      justify-content: center;
     align-items: center;
     text-align: center;
     padding: 0 20px;
     margin: 1rem;
 }

 .services-grid img {
     width:30rem;
     padding: 20px;
 }

 /* .services-grid-left {
     justify-content: center;
     align-items: center;
     text-align: center;
     padding: 0 20px;
     margin: 1rem;
 }

 .services-grid-right {
     justify-content: center;
     align-items: center;
     text-align: center;
     padding: 0 20px;
     margin: 1rem;
 } */

 .services-grid h3 {
     font-size: 2rem;
     letter-spacing: 5px;
 }

 .services-grid p {
     font-size: 1rem;
     line-height: 24px;
 }

 .services-grid .details {
     width: 90%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .our-mission {
     background-image: url(https://cdn.pixabay.com/photo/2021/01/18/12/45/coffee-beans-5928036_1280.jpg);
     background-position: center center;
     background-attachment: fixed;
     background-size: cover;
     height: 80vh;
     display: flex;
     text-align: center;
     align-items: center;
     justify-content: center;
     margin-top: 40px;
 }

 .mission-details {
     max-width: 600px;
     margin: auto;
     color: #000000;
 }

 .mission-details h4 {
     font-size: 2rem;
     margin-bottom: 10px;
 }

 .mission-details h2 {
     font-size: 3rem;
     margin-bottom: 10px;
 }

 .our-promise {
     display: flex;
     text-align: center;
     align-items: center;
     justify-content: center;
     margin-top: 40px;
     margin-bottom: 60px;
 }

 .our-promise h2 {
     font-size: 3rem;
     margin-bottom: 30px;
 }

 .our-promise p {
     font-size: 1.25rem;
     margin-top: 5px;
 }

 .caranimation {
     display: flex;
     position: relative;
     overflow: hidden;
     padding-bottom: 10px;
 }
    

     @keyframes carmove {
        0%{left:-20%}
        100%{left:100%}
     }
 

 .our-promise .bg {
     width: 100%;
    
 }

 .our-promise .car {
     width: 300px;
     position: absolute;
     top: 40%;
      animation: carmove 8s linear infinite;
 }

 .contact {
     background-image: url(img/contact.webp);
     background-position: center center;
     background-attachment: fixed;
     background-size: cover;
     
     display: flex;
     
     align-items: center;
     justify-content: center;
 }

 .contact-section {
     max-width: 900px;
     margin: 0 auto;
     padding: 30px;
 }

 .contact-info {
     margin-bottom: 30px;
 }

 .contact-info h2 {
     font-size: 2rem;
     color: #333;
     margin-bottom: 10px;
     text-align: center;
 }

 .contact-info p {
     font-size: 1rem;
     color: #111;
     line-height: 1.6;
 }

 .contact-details p {
     margin-bottom: 10px;
 }


 